.dmap-control{
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(158, 158, 158, 1);
    border: 1px solid rgb(68, 68, 68);
    background-color: rgba(40, 40, 40, 0.7);
    box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
    width: fit-content;
}

.dmap-control-absolute{
    position: absolute;
}

.dmap-control-left{
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

.dmap-controlbar{
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 10;
    width: 95px;
    min-width: 95px;
    padding-left: 3px;
}

.dmap-control button{
    outline: none;
	display: block;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1.14em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
	cursor: pointer;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    text-align: left;
}

.dmap-control button:hover{
    background-color: rgba(0,0,0,1);
}

.dmap-control button svg,.dmap-control button svg g,.dmap-control button svg path{
    fill: #FFF;
}

.dmap-control .stroke-svg{
    stroke: #FFF;
}

.dmap-home {
    top: .5em;
    left: .5em;
}

.dmap-position{
    top: 8.5em;
    left: .5em;
}

.dmap-position-content{
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    padding: 3px;
    color: #FFF;
}

.dmap-position-content label{
    margin-left: 3px;
}

.dmap-satellitte{
    top: 8.5em;
    left: .5em;
}

.dmap-satellitte-content{
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    padding: 3px;
    width: 84px;
    height: 60px;
    cursor: pointer;
    
}

.dmap-satellitte-content.select1{
    background: url('./../image/map_select1.png') no-repeat;
    background-size: 100% 100%;
}

.dmap-satellitte-content.select2{
    background: url('./../image/map_select2.png') no-repeat;
    background-size: 100% 100%;
}

.dmap-zoom{
	top: 2.7em;
    left: .5em;
}

.dmap-zoom button{
    float: left;
    margin-right: 3px;
}

.dmap-north{
	right: .5em;
    top: .5em;
}

/* .dmap-north svg{
    transform:rotate(-0.782887rad);
} */

.dmap-switch{
	right: 2.7em;
    top: .5em;
}

.dmap-measure{
	right: 15.5em;
    top: .5em;
}

.dmap-measure button{
    float: left;
    margin-right: 3.5px;
}

.dmap-fullscreen{
	left: .5em;
    top: 6.5em;
}

.dmap-map-fullscreen{
    object-fit: contain;
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    box-sizing: border-box !important;
    min-width: 0px !important;
    max-width: none !important;
    min-height: 0px !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    margin: 0px !important;
}

.dmap-coordinate-pick{
    right: .5em;
    bottom: .5em;
    color: #FFF;
    background-color:rgba(40, 40, 40, 0.7);
    border: 1px solid rgb(68, 68, 68);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
}

.dmap-coordinater-pick-content{
    position: absolute;
    right: .5em;
    bottom: .5em;
    color: #FFF;
    padding: 3px;
    background-color:rgba(40, 40, 40, 0.7);
    border: 1px solid rgb(68, 68, 68);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
}

.dmap-scale{
	left: .5em;
	bottom: .5em;
}

.dmap-layer-manage-content{
    position: absolute;
    right: .5em;
    top: 0.5em;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(158, 158, 158, 1);
    border: 1px solid rgb(68, 68, 68);
    background-color: rgba(40, 40, 40, 0.7);
    box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
    width: fit-content;
}

.dmap-layer-manage-content button{
    outline: none;
	display: block;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1.14em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
	cursor: pointer;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    text-align: left;
}

.dmap-layer-manage-row{
    font-size: 14px;
    color: #c1c1c1;
    padding: 0px 5px;
    font-weight: bold;
    text-align: left;
}

.dmap-layer-manage-row label,.dmap-layer-manage-row input{
    cursor: pointer;
}

.dmap-scale-text{
	text-align: center;
}

.dmap-scale-length{
	width: 64px;
	height: 5px;
	border-left: 1px solid #7679ac;
	border-right: 1px solid #7679ac;
	border-bottom: 1px solid #7679ac;
}

.dmap-overview-content{
    position: absolute;
    width: 350px;
    height: 200px;
    left: .5em;
    bottom: .5em;
    /* cursor: pointer; */
    background-color: rgba(40, 40, 40, 0.7);
    border: 1px solid rgb(68, 68, 68);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 38, 0.5);
}