<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>buidling-anasysis</title>
    <link rel="stylesheet" href="../plugins/cesium/Widgets/widgets.css">
    <link rel="stylesheet" href="../plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../plugins/dicCesium/DicCesium.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../plugins/cesium/Cesium.js"></script>
    <script src="../plugins/dicCesium/bezier-extends.js"></script>
    <script src="../plugins/dicCesium/cesium-polylinetraillink-extends.js"></script>
    <script src="../plugins/dicCesium/cesium-walleffect-extends.js"></script>
    <script src="../plugins/dicCesium/cesium-infowindow-extends.js"></script>
    <script src="../plugins/dicCesium/cesium-loadlinenet-extends.js"></script>
    <script src="../plugins/dicCesium/cesium-traillinkline-extends.js"></script>
    <script src="../plugins/dicCesium/cesium-wmslayer-extends.js"></script>
    <script src="../plugins/dicCesium/cesium-search-control.js"></script>
    <script src="../plugins/dicCesium/cesium-indoormap-extends.js"></script>
    <script src="../plugins/dicCesium/heatmap/heatmap.min.js"></script>
    <script src="../plugins/dicCesium/heatmap/webgl-heatmap.js"></script>
    <script src="../plugins/dicCesium/heatmap/cesium-heatmap-extends.js"></script>
    <script src="../plugins/dicCesium/DicCesium.js"></script>
    <script src="../plugins/echarts/echarts.min.js"></script>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/layui/layui.all.js"></script>
    <script src="../plugins/common/common_config.js"></script>
</head>
<body>
<div id="map"></div>
</body>
<script src="floor_gis.js"></script>
</html>
